extends layout

block content
    audio(id="player", class="player")
    div(class="app")
        ul(class="menus")
            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src= cam_path)
                    div(class="extra content")
                        button(class="ui button positive right floated", id="locationButton") 我在哪

            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src="/images/eyeglass.png")
                    div(class="extra content")
                        a(href="app/help")
                            button(class="ui button positive right floated", id="helpButton") 帮助我

            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src="/images/map.jpg")
                    div(class="extra content")
                        button(class="ui button positive right floated", id="navigationButton") 带我走


