extends layout

block content

    div(class="app")
        ul(class="menus")
            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src="/images/location.gif")
                    div(class="extra content")
                        button(class="ui button right floated") 我在哪

            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src="/images/location.gif")
                    div(class="extra content")
                        button(class="ui button right floated") 帮助我

            li
                div(class="ui card menu-card")
                    div(class="image")
                        img(src="/images/location.gif")
                    div(class="extra content")
                        button(class="ui button right floated") 带我走


