extends layout

block content
    div(class="main-content")
        div(class="ui card")
            div(class="image")
                img(src="/images/image.png" id="shower")
            div(class="content")
                div(class="description")
                    p(id="recognize") 识别中