doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(href="/stylesheets/semantic.min.css", rel="stylesheet")
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/semantic.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
